footer{
    background-color: black;
    padding-top: 20px;
    width: 666px;
    padding-left: 20px;
}
p{
    color: aliceblue;
    font-family: sans-serif;
    font-size: 42px;
}
h1{
    font-size: 115px;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    display: block;
}